*{
    margin: 0px;
    padding: 0px;
}


#wrap{
    border: 1px solid black;
    height: 1000px;
    width: 1200px;
    margin: auto;
}
#header{
    background-color: #red;
    height: 80px;
    
}
#menu{
    background-color: #000000;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    
    float: left;
    color: white;
    margin: 10px;
}